@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1 class="display-4">Bienvenue</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 class="display-8">Vous vous appretez à entrer dans le plus bel espace de vente de voitures d'occasion !</h2>
    <!-- <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>-->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div">
        <input type="button" value="Entrer" class="btn btn-outline-danger btn-lg" onclick="window.location.href='@Url.Action("Index", "Inventaires")'" />
</div>
</div>
